<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        .ticket-card {
            margin-bottom: 20px;
        }
        .btn-action {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Ticket Tracker</h1>
        <div class="row">
            <div class="col-md-6">
                <a href="/tickets/new" class="btn btn-primary mb-3">New Ticket</a>
            </div>
            <div class="col-md-6">
                <form action="/tickets/search" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchQuery" placeholder="Search..." required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-deck">
                    <!-- Iterate over the list of tickets and display them -->
                    <div th:each="ticket : ${tickets}" class="card ticket-card">
                        <div class="card-body">
                        	<h5 class="card-title">[[${ticket.id}]]</h5>
                            <h5 class="card-title">[[${ticket.title}]]</h5>
                            <p class="card-text">[[${ticket.description}]]</p>
                            <a th:href="@{/tickets/edit/{id}(id=${ticket.id})}" class="btn btn-info btn-action">Edit</a>
							<a th:href="@{/tickets/delete/{id}(id=${ticket.id})}" class="btn btn-danger btn-action">Delete</a>
							<a th:href="@{/tickets/view/{id}(id=${ticket.id})}" class="btn btn-primary btn-action">View</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
